<template>
  <div>
    <div class="account-pages my-2 pt-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card overflow-hidden">
              <div class="bg-soft-primary">
                <div class="row">
                  <div class="col-7">
                    <div class="text-primary p-4">
                      <h5 class="text-primary">Восстановить пароль</h5>
                    </div>
                  </div>
                  <div class="col-5 align-self-end">
                    <img src="/images/profile-img.png" alt class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <div>
                  <a href="/">
                    <div class="avatar-md profile-user-wid mb-4">
                      <span class="avatar-title rounded-circle bg-light">
                        <img src="/images/logo.svg" alt height="34" />
                      </span>
                    </div>
                  </a>
                </div>
                <div class="p-2">
                  <b-alert
                    v-model="isResetError"
                    class="mb-4"
                    variant="danger"
                    dismissible
                    >{{ status }}</b-alert
                  >
                  <b-alert
                    v-model="tryingToReset"
                    class="mb-4"
                    variant="success"
                    dismissible
                    >{{ status }}</b-alert
                  >
                  <form method="POST" @submit.prevent="forgot">
                    <slot />
                    <div class="form-group">
                      <label for="useremail">Email</label>
                      <input
                        id="useremail"
                        v-model="email"
                        required
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Введите email"
                      />
                    </div>
                    <div class="form-group row mb-0">
                      <div class="col-12 text-right">
                        <button class="btn btn-primary w-md" type="submit">
                          Сбросить пароль
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->

            <div class="mt-5 text-center">
              <p>
                Вспомнили пароль ?
                <router-link to="/login" class="font-weight-medium text-primary"
                  >Войти</router-link
                >
              </p>
              <p>© {{ new Date().getFullYear() }} Multiaccount</p>
            </div>
          </div>
          <!-- end col -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { restore } from '@/api/user';

export default {
  data() {
    return {
      email: '',
      tryingToReset: false,
      isResetError: false,
      status: ''
    };
  },
  mounted() {},
  methods: {
    forgot() {
      restore({
        email: this.email
      })
        .then(resp => {
          this.tryingToReset = true;
          this.status = resp.data.message;
        })
        .catch(e => {
          this.isResetError = true;
          if (e.response) {
            if (e.response.status === 422) {
              this.status = e.response.data.errors.email[0];
            }
          } else {
            this.status = 'Что-то пошло не так, попробуйте еще раз';
          }
        });
    }
  }
};
</script>
