<template>
  <div>
    <div class="account-pages my-2 pt-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card overflow-hidden">
              <div class="bg-soft-primary">
                <div class="row">
                  <div class="col-7">
                    <div class="text-primary p-4">
                      <h5 class="text-primary">Рады снова видеть вас!</h5>
                      <p>Войти в Мультиаккаунт.</p>
                    </div>
                  </div>
                  <div class="col-5 align-self-end">
                    <img src="/images/profile-img.png" alt class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <div>
                  <a href="/">
                    <div class="avatar-md profile-user-wid mb-4">
                      <span class="avatar-title rounded-circle bg-light">
                        <img src="/images/logo.svg" alt height="34" />
                      </span>
                    </div>
                  </a>
                </div>
                <validation-observer ref="form">
                  <b-form
                    class="p-2"
                    method="POST"
                    @submit.prevent="handleLogin"
                  >
                    <slot />
                    <validation-provider
                      v-slot="{ errors, valid, validated }"
                      ref="email-provider"
                      name="Email"
                      rules="required|email"
                    >
                      <b-form-group label="Email" label-for="input-1">
                        <b-form-input
                          id="input-1"
                          v-model="loginForm.email"
                          name="email"
                          type="text"
                          :state="validated ? valid : null"
                          placeholder="Введите email"
                        />
                        <b-form-invalid-feedback>{{
                          errors[0]
                        }}</b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>

                    <validation-provider
                      v-slot="{ errors, valid, validated }"
                      name="Пароль"
                      rules="required|min:6"
                    >
                      <b-form-group
                        id="input-group-2"
                        label="Пароль"
                        label-for="input-2"
                      >
                        <b-form-input
                          id="input-2"
                          v-model="loginForm.password"
                          name="password"
                          type="password"
                          :state="validated ? valid : null"
                          placeholder="Введите пароль"
                        />
                        <b-form-invalid-feedback>{{
                          errors[0]
                        }}</b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>

                    <div class="mt-3">
                      <b-button
                        type="submit"
                        variant="primary"
                        class="btn-block"
                        >Войти</b-button
                      >
                    </div>
                    <div class="mt-4 text-center">
                      <router-link to="/forgot-password" class="text-muted">
                        <i class="mdi mdi-lock mr-1" /> Забыли пароль?
                      </router-link>
                    </div>
                  </b-form>
                </validation-observer>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->

            <div class="mt-5 text-center">
              <p>
                Еще не зарегистрированы?
                <router-link
                  to="/register"
                  class="font-weight-medium text-primary"
                  >Создать аккаунт</router-link
                >
              </p>
              <p>© {{ new Date().getFullYear() }} Multiaccount</p>
            </div>
            <!-- end row -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loginForm: {
        email: '',
        password: ''
      },
      isAuthError: false,
      authError: '',
      loading: false,
      redirect: undefined,
      otherQuery: {}
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true
    }
  },
  mounted() {
    this.isAuthError = !!this.authError;
  },
  methods: {
    async handleLogin() {
      const valid = await this.$refs.form.validate();

      if (valid) {
        this.loading = true;
        this.$store
          .dispatch('user/login', this.loginForm)
          .then(resp => {
            if (window.carrotquest) {
              console.log(
                'CarrotQuest auth',
                resp.data.user.id,
                resp.data.carrotquest
              );
              window.carrotquest.auth(resp.data.user.id, resp.data.carrotquest);
              window.carrotquest.track('$authorized', {
                $email: resp.data.user.email,
                $name: resp.data.user.name
              });
            }

            this.$router.push(
              { path: this.redirect || '/profiles', query: this.otherQuery },
              () => {}
            );
            this.loading = false;
          })
          .catch(e => {
            console.error(e);
            if (e.response && e.response.status === 422) {
              console.error(e.response);

              this.$refs['email-provider'].applyResult({
                errors: e.response.data.errors.email, // array of string errors
                valid: false, // boolean state
                failedRules: {} // should be empty since this is a manual error.
              });
            }
            this.loading = false;
          });
      } else {
        console.log('error submit!!');
        return false;
      }
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    }
  }
};
</script>
