<template>
  <b-modal
    :id="`modal-profile-${uniqueId}`"
    title="Настройки профиля"
    title-class="font-18"
    hide-footer
    @hidden="modalHidden"
  >
  <div>
    <PageHeader :title="title" :items="items" />
    <div>
      <div class="row" style="background: transparent;">
        <div class="col-12" style="background: transparent;">
          <div class="card" style="background: transparent;">
            <div class="card-body" >
              <validation-observer ref="form">

                <b-form
                  class="p-2"
                  method="POST"
                  @submit.prevent="handleSave"
                >
                  <slot />

                  <b-form-group label-for="avatar">
                    <b-img center :src="user.avatar" rounded="circle" class="mt-2 mb-2" thumbnail style="max-width: 100px;" />
                    <b-form-file name="avatar" accept="image/*" />
                  </b-form-group>
                  <validation-provider
                    v-slot="{ errors, valid, validated }"
                    ref="name-provider"
                    name="Имя"
                    rules="required"
                  >
                    <b-form-group label="Имя" label-for="name">
                      <b-form-input
                        id="name"
                        v-model="user.name"
                        name="name"
                        type="text"
                        :state="(validated) ? valid:null"
                        placeholder="Ваше имя"
                      />
                      <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>

                  <validation-provider
                    v-slot="{ errors, valid, validated }"
                    ref="email-provider"
                    name="Email"
                    rules="required|email"
                  >
                    <b-form-group label="Email" label-for="email">
                      <b-form-input
                        id="email"
                        v-model="user.email"
                        name="email"
                        type="text"
                        :state="(validated) ? valid:null"
                        placeholder="Введите email"
                      />
                      <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>

                  <validation-provider
                    v-slot="{ errors, valid, validated }"
                    ref="password-provider"
                    name="Пароль"
                    rules="min:6"
                    vid="password"
                  >
                    <b-form-group label="Пароль" label-for="password">
                      <b-form-input
                        id="password"
                        v-model="user.password"
                        name="password"
                        type="password"
                        :state="(validated) ? valid:null"
                        placeholder="Введите пароль"
                      />
                      <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>

                  <validation-provider
                    v-slot="{ errors, valid, validated }"
                    ref="password_confirmation-provider"
                    name="Подтверждение пароля"
                    rules="min:6|confirmed:password"
                  >
                    <b-form-group label="Подтверждение пароля" label-for="password_confirmation">
                      <b-form-input
                        id="password_confirmation"
                        v-model="user.password_confirmation"
                        name="password_confirmation"
                        type="password"
                        :state="(validated) ? valid:null"
                        placeholder="Введите пароль еще раз"
                      />
                      <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>

                  <div class="mt-4">
                    <b-button type="submit" variant="primary" class="btn-block">Сохранить</b-button>
                  </div>
                </b-form>
              </validation-observer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </b-modal>
</template>

<script>
import PageHeader from '@/components/page-header'
import { getInfo, saveInfo } from '@/api/user'
import Swal from 'sweetalert2'

export default {
    props: {
    profile: {
      type: Object,

    },
    show: {
      type: Boolean,
      default: true
    }
  },
  components: { PageHeader },
  data() {
    return {
       uniqueId: Math.round(Math.random() * 100000),
      loading: true,
      user: {
        avatar: '',
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      },
      title: 'Мой профиль',
      items: [
        {
          text: 'Мой профиль',
          active: true
        }
      ]
    }
  },
  mounted() {
    
    getInfo().then((response) => {
      this.user.avatar = response.data.avatar
      this.user.name = response.data.name
      this.user.email = response.data.email
      this.loading = false
    })
  },
  methods: {
        modalHidden() {
      this.$emit('update:show', false);
    },
    async handleSave() {
      const valid = await this.$refs.form.validate()

      if (valid) {
        this.loading = true

        const formData = new FormData()
        const imagefile = document.querySelector('[name="avatar"]')
        if (imagefile) {
          formData.append('avatar', imagefile.files[0])
        }

        formData.append('name', this.user.name)
        formData.append('email', this.user.email)
        formData.append('password', this.user.password)
        formData.append('password_confirmation', this.user.password_confirmation)

        saveInfo(formData)
          .then((response) => {
            this.loading = false
            Swal.fire('Успешно!', 'Изменения сохранены', 'success')

            this.user.avatar = response.data.avatar
            this.user.name = response.data.name
            this.user.email = response.data.email
          })
          .catch((e) => {
            console.error(e)
            if (e.response && e.response.status === 422) {
              console.error(e.response)

              Object.keys(e.response.data.errors).forEach(key => {
                if (this.$refs[key + '-provider']) {
                  this.$refs[key + '-provider'].applyResult({
                    errors: e.response.data.errors[key], // array of string errors
                    valid: false, // boolean state
                    failedRules: {} // should be empty since this is a manual error.
                  })
                }
              })
            }
            this.loading = false
          })
      } else {
        console.log('error submit!!')
        return false
      }
    }
  }
}
</script>
