<template>
  <div>
    <div class="account-pages my-2 pt-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card overflow-hidden">
              <div class="bg-soft-primary">
                <div class="row">
                  <div class="col-7">
                    <div class="text-primary p-4">
                      <h5 class="text-primary">Регистрация</h5>
                      <p>Попробуйте расширение прямо сейчас</p>
                    </div>
                  </div>
                  <div class="col-5 align-self-end">
                    <img src="/images/profile-img.png" alt class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <div>
                  <a href="/">
                    <div class="avatar-md profile-user-wid mb-4">
                      <span class="avatar-title rounded-circle bg-light">
                        <img
                          src="/images/logo.svg"
                          alt
                          class="rounded-circle"
                          height="34"
                        />
                      </span>
                    </div>
                  </a>
                </div>

                <validation-observer ref="form">
                  <b-form
                    class="p-2"
                    method="POST"
                    @submit.prevent="handleRegister"
                  >
                    <slot />

                    <validation-provider
                      v-slot="{ errors, valid, validated }"
                      ref="name-provider"
                      name="Имя"
                      rules="required"
                    >
                      <b-form-group label="Имя" label-for="name">
                        <b-form-input
                          id="name"
                          v-model="name"
                          name="name"
                          type="text"
                          :state="validated ? valid : null"
                          placeholder="Ваше имя"
                        />
                        <b-form-invalid-feedback>{{
                          errors[0]
                        }}</b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>

                    <validation-provider
                      v-slot="{ errors, valid, validated }"
                      ref="email-provider"
                      name="Email"
                      rules="required|email"
                    >
                      <b-form-group label="Email" label-for="email">
                        <b-form-input
                          id="email"
                          v-model="email"
                          name="email"
                          type="text"
                          :state="validated ? valid : null"
                          placeholder="Введите email"
                        />
                        <b-form-invalid-feedback>{{
                          errors[0]
                        }}</b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>

                    <validation-provider
                      v-slot="{ errors, valid, validated }"
                      ref="password-provider"
                      name="Пароль"
                      rules="required|min:6"
                      vid="password"
                    >
                      <b-form-group label="Пароль" label-for="password">
                        <b-form-input
                          id="password"
                          v-model="password"
                          name="password"
                          type="password"
                          :state="validated ? valid : null"
                          placeholder="Введите пароль"
                        />
                        <b-form-invalid-feedback>{{
                          errors[0]
                        }}</b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>

                    <validation-provider
                      v-slot="{ errors, valid, validated }"
                      ref="password_confirmation-provider"
                      name="Подтверждение пароля"
                      rules="required|min:6|confirmed:password"
                    >
                      <b-form-group
                        label="Подтверждение пароля"
                        label-for="password_confirmation"
                      >
                        <b-form-input
                          id="password_confirmation"
                          v-model="password_confirmation"
                          name="password_confirmation"
                          type="password"
                          :state="validated ? valid : null"
                          placeholder="Введите пароль еще раз"
                        />
                        <b-form-invalid-feedback>{{
                          errors[0]
                        }}</b-form-invalid-feedback>
                      </b-form-group>
                    </validation-provider>

                    <div class="custom-control custom-checkbox">
                      <input
                        id="offer"
                        required
                        type="checkbox"
                        class="custom-control-input"
                      />
                      <label for="offer" class="custom-control-label">
                        Принимаю
                        <a
                          target="_blank"
                          href="/offer_agreement.pdf"
                          class="text-primary"
                          >пользовательское соглашение</a
                        >
                      </label>
                    </div>

                    <div class="custom-control custom-checkbox">
                      <input
                        id="policy"
                        required
                        type="checkbox"
                        class="custom-control-input"
                      />
                      <label for="policy" class="custom-control-label">
                        Ознакомлен и согласен с
                        <a
                          target="_blank"
                          href="/policy.pdf"
                          class="text-primary"
                          >политикой конфиденциальности</a
                        >
                      </label>
                    </div>

                    <div class="mt-4">
                      <b-button
                        type="submit"
                        variant="primary"
                        class="btn-block"
                        >Зарегистрироваться</b-button
                      >
                    </div>
                  </b-form>
                </validation-observer>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->

            <div class="mt-5 text-center">
              <p>
                Уже есть аккаунт ?
                <router-link to="/login" class="font-weight-medium text-primary"
                  >Войти</router-link
                >
              </p>
              <p>© {{ new Date().getFullYear() }} Multiaccount</p>
            </div>
          </div>
          <!-- end col -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { register } from '@/api/user';

export default {
  props: {},
  data() {
    return {
      name: '',
      email: '',
      password: '',
      password_confirmation: '',
      registerSuccess: false
    };
  },
  mounted() {},
  methods: {
    async handleRegister() {
      const valid = await this.$refs.form.validate();

      if (valid) {
        this.loading = true;
        register({
          name: this.name,
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation
        })
          .then(resp => {
            if (window.carrotquest) {
              console.log(
                'CarrotQuest register',
                resp.data.user.id,
                resp.data.carrotquest
              );
              window.carrotquest.auth(resp.data.user.id, resp.data.carrotquest);
              window.carrotquest.track('$registered', {
                $email: resp.data.user.email,
                $name: resp.data.user.name
              });
            }

            this.$store.dispatch('user/loginWithToken', resp.data.token);
            this.$router.push({ path: '/subscription' }, () => {});
            this.loading = false;
          })
          .catch(e => {
            console.error(e, e.response);
            if (e.response && e.response.status === 422) {
              console.error(e.response.data);

              Object.keys(e.response.data.errors).forEach(key => {
                console.log(key + '-provider');
                this.$refs[key + '-provider'].applyResult({
                  errors: e.response.data.errors[key], // array of string errors
                  valid: false, // boolean state
                  failedRules: {} // should be empty since this is a manual error.
                });
              });
            }
            this.loading = false;
          });
      } else {
        console.log('error submit!!');
        return false;
      }
    }
  }
};
</script>
