<template>
  <div>
    <div class="account-pages my-2 pt-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card overflow-hidden">
              <div class="bg-soft-primary">
                <div class="row">
                  <div class="col-7">
                    <div class="text-primary p-4">
                      <h5 class="text-primary">Восстановление пароля</h5>
                      <p>Установить новый пароль</p>
                    </div>
                  </div>
                  <div class="col-5 align-self-end">
                    <img src="/images/profile-img.png" alt class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <div>
                  <a href="/">
                    <div class="avatar-md profile-user-wid mb-4">
                      <span class="avatar-title rounded-circle bg-light">
                        <img src="/images/logo.svg" alt height="34" />
                      </span>
                    </div>
                  </a>
                </div>
                <div class="p-2">
                  <b-alert
                    v-model="showStatus"
                    class="mb-4"
                    variant="success"
                    dismissible
                    >{{ status }}</b-alert
                  >
                  <b-alert
                    v-model="showError"
                    class="mb-4"
                    variant="danger"
                    dismissible
                    >{{ error }}</b-alert
                  >
                  <validation-observer ref="form">
                    <b-form class="p-2" method="POST" @submit.prevent="reset">
                      <slot />

                      <validation-provider
                        v-slot="{ errors, valid, validated }"
                        ref="email-provider"
                        name="Email"
                        rules="required|email"
                      >
                        <b-form-group label="Email" label-for="email">
                          <b-form-input
                            id="email"
                            v-model="email"
                            name="email"
                            type="text"
                            :state="validated ? valid : null"
                            placeholder="Введите email"
                          />
                          <b-form-invalid-feedback>{{
                            errors[0]
                          }}</b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>

                      <validation-provider
                        v-slot="{ errors, valid, validated }"
                        ref="password-provider"
                        name="Пароль"
                        rules="required|min:6"
                        vid="password"
                      >
                        <b-form-group label="Пароль" label-for="password">
                          <b-form-input
                            id="password"
                            v-model="password"
                            name="password"
                            type="password"
                            :state="validated ? valid : null"
                            placeholder="Введите пароль"
                          />
                          <b-form-invalid-feedback>{{
                            errors[0]
                          }}</b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>

                      <validation-provider
                        v-slot="{ errors, valid, validated }"
                        ref="password_confirmation-provider"
                        name="Подтверждение пароля"
                        rules="required|min:6|confirmed:password"
                      >
                        <b-form-group
                          label="Подтверждение пароля"
                          label-for="password_confirmation"
                        >
                          <b-form-input
                            id="password_confirmation"
                            v-model="password_confirmation"
                            name="password_confirmation"
                            type="password"
                            :state="validated ? valid : null"
                            placeholder="Введите пароль еще раз"
                          />
                          <b-form-invalid-feedback>{{
                            errors[0]
                          }}</b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>

                      <div class="mt-4">
                        <b-button
                          type="submit"
                          variant="primary"
                          class="btn-block"
                          >Установить пароль</b-button
                        >
                      </div>
                    </b-form>
                  </validation-observer>
                </div>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->

            <div class="mt-5 text-center">
              <p>
                Вспомнили пароль ?
                <router-link to="/login" class="font-weight-medium text-primary"
                  >Войти</router-link
                >
              </p>
              <p>© {{ new Date().getFullYear() }} Multiaccount</p>
            </div>
          </div>
          <!-- end col -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reset } from '@/api/user';

/**
 * Forgot Password component
 */
export default {
  data() {
    return {
      showStatus: false,
      status: '',
      showError: false,
      error: '',
      email: '',
      password: '',
      password_confirmation: '',
      token: null
    };
  },
  mounted() {
    const urlParams = new URLSearchParams(window.location.search);
    this.token = urlParams.get('token');
    this.email = urlParams.get('email');
  },
  methods: {
    reset() {
      this.showError = false;
      if (!this.token) {
        this.showError = true;
        this.error = 'Перейдите по ссылке из письма';

        return;
      }
      reset({
        email: this.email,
        password: this.password,
        password_confirmation: this.password_confirmation,
        token: this.token
      })
        .then(resp => {
          this.showStatus = true;
          this.status = resp.data.message;

          setTimeout(() => {
            this.$router.push({ path: '/login' }, () => {});
          }, 2000);
        })
        .catch(e => {
          this.showStatus = false;
          this.showError = true;
          if (e.response) {
            if (e.response.status === 422) {
              this.error = e.response.data.errors.email[0];
            }
          } else {
            this.error = 'Что-то пошло не так, попробуйте еще раз';
          }
        });
    }
  }
};
</script>
