<template>
  <div>
    <b-overlay :show="loading" rounded="sm" no-wrap>
      <template #overlay>
        <div class="text-center">
          <!--          <b-icon icon="stopwatch" font-scale="3" animation="cylon"></b-icon>-->
          <p v-if="loadingTitle">{{ loadingTitle }}...</p>
        </div>
      </template>
    </b-overlay>

    <router-view />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'App',
  computed: {
    ...mapGetters({
      loadingTitle: 'app/loadingTitle',
      loading: 'app/loading'
    })
  },
  mounted() {
    console.log('mounted app, load profile');
    this.$store.dispatch('profiles/loadProfile');
  }
};
</script>
