<template>
  <div>
    <PageHeader title="Реквизиты и контакты" />

    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <p>ИП Глобов Сергей Игоревич</p>
          <p>Адрес: Московская область, г. Звенигород,
            пр-д Ветеранов, д. 10, корп. 1 кв. 123</p>
          <p>ИНН: 744605374525</p>
          <p>ОГРНИП: 320508100289011</p>
          <p>Расчётный счёт: 40802810755000086844</p>
          <p>КПП: -</p>
          <p>Банк: СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО
            СБЕРБАНК</p>
          <p>БИК: 044030653</p>
          <p>Кор. счёт: 30101810500000000653</p>
          <p>Email: sergeyglobov@mail.ru</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from '@/components/page-header'

export default {
  components: { PageHeader },
  data() {
    return {
    }
  },
  mounted() {
  }
}
</script>
