<template>
  <div>
    <PageHeader :title="title" :items="items" />

    <b-modal
      id="modal-answer"
      size="xl"
      title="FAQ"
      title-class="font-18"
      hide-footer
      @hidden="modalHidden"
    >
      <div
        class="faq-box media mb-4"
      >
        <div class="faq-icon mr-3">
          <i class="bx bx-help-circle font-size-20 text-success" />
        </div>
        <div class="modal-answer-body">
          <h5 class="font-size-15">{{ modalAnswer.question }}</h5>
          <div
            class="text-muted"
            v-html="modalAnswer.answer_html"
          />
        </div>
      </div>
    </b-modal>

    <div class="checkout-tabs">
      <b-tabs v-model="section" pills vertical nav-class="p-0" nav-wrapper-class="col-lg-2 w-100">
        <b-tab active>
          <template v-slot:title>
            <i class="bx bx-question-mark d-block check-nav-icon mt-4 mb-2" />
            <p class="font-weight-bold mb-4">Общие вопросы</p>
          </template>
          <b-card-text>
            <div class="card">
              <div class="card-body">
                <div class="tab-pane fade show active">
                  <h4 class="card-title mb-5">Общие вопросы по расширению и личному кабинету</h4>
                  <faq-answers :answers="answers" />
                </div>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
          </b-card-text>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <i class="bx bx-world d-block check-nav-icon mt-4 mb-2" />
            <p class="font-weight-bold mb-4">Прокси</p>
          </template>
          <b-card-text>
            <div class="card">
              <div class="card-body">
                <div class="tab-pane">
                  <h4 class="card-title mb-5">Вопросы про прокси</h4>
                  <faq-answers :answers="answers" />
                </div>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
          </b-card-text>
        </b-tab>
        <b-tab title-item-class="mb-2">
          <template v-slot:title>
            <i class="bx bx-notepad d-block check-nav-icon mt-4 mb-2" />
            <p class="font-weight-bold mb-4">Доски объявлений</p>
          </template>
          <b-card-text>
            <div class="card">
              <div class="card-body">
                <div class="tab-pane">
                  <h4 class="card-title mb-5">Вопросы про Авито/Юлу/OLX</h4>
                  <faq-answers :answers="answers" />
                </div>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
          </b-card-text>
        </b-tab>
      </b-tabs>
    </div>
  </div>
</template>

<script>
import PageHeader from '@/components/page-header'
import { getAnswers, getAnswer } from '@/api/faq'
import FaqAnswers from '@/components/faq-answers'
/**
   * FAQs component
   */
export default {
  components: { FaqAnswers, PageHeader },
  data() {
    return {
      sections: [
        'extension',
        'proxy',
        'avito'
      ],
      section: 0,
      modalAnswer: {},
      answers: [],
      title: 'Помощь',
      items: [
        {
          text: 'Часто задаваемые вопросы',
          active: true
        }
      ]
    }
  },
  watch: {
    section() {
      this.load()
    }
  },
  mounted() {
    this.load()

    if (this.$route.params.id) {
      this.loadAnswer(this.$route.params.id)
    }

    const that = this
    document.addEventListener('click', function(e) {
      for (var target = e.target; target && target !== this; target = target.parentNode) {
        if (target.matches('.editor-js-block a')) {
          const answer = parseInt(String(target.getAttribute('href')).replace('#', ''))
          if (answer > 0) {
            that.$router.push({
              path: `/faq/${answer}`
            })
            that.loadAnswer(answer)
            e.preventDefault()
          }
          break
        }
      }
    }, false)
  },
  methods: {
    load() {
      getAnswers(this.sections[this.section]).then((resp) => {
        this.answers = resp.data.answers
      })
    },
    loadAnswer(answer) {
      getAnswer(answer).then((resp) => {
        this.modalAnswer = resp.data.answer
        this.$bvModal.show('modal-answer')
      })
    },
    modalHidden() {
      this.modalAnswer = {}

      this.$router.push({
        path: `/faq`
      })
    }
  }
}
</script>

<style>
.answer-title {
 cursor: pointer;
  outline: none;
}
</style>
