<template>
  <div>
    <PageHeader :title="title" :items="items" />
    <div v-if="loading" class="row">
      <div class="col-md-1 m-auto">
        <b-spinner class="m-2 m-auto" variant="primary" role="status" />
      </div>
    </div>
    <div v-else>
      <div v-if="plan.active" class="row">
        <div class="col-md-10 offset-md-1">
          <div class="card plan-box">
            <div class="card-body p-4">
              <div class="media">
                <div class="media-body">
                  <h5>{{ plan.plan.name }}</h5>
                  <p class="text-muted">{{ plan.plan.text }}</p>
                </div>
                <div class="ml-3">
                  <i :class="`bx ${icons[plan.plan.id]} h1 text-primary`" />
                </div>
              </div>
              <div class="py-4">
                <h3>
                  {{ plan.days_left }} /
                  <span class="font-size-13">{{ plan.expire_at }}</span>
                </h3>
              </div>
              <div class="text-center plan-btn">
                <a
                  href="#"
                  class="btn btn-primary btn-sm position-relative"
                  @click.prevent="showModal = true"
                  >Продлить</a
                >
                <router-link
                  to="/subscription/select"
                  class="btn btn-secondary btn-sm position-relative"
                  >Выбрать другой тариф</router-link
                >
              </div>

              <div class="plan-features mt-5">
                <p>
                  <i
                    class="bx text-primary mr-2"
                    :class="{
                      'bx-checkbox-square': plan.plan.sites.avito,
                      'bx-checkbox': !plan.plan.sites.avito
                    }"
                  />
                  <s v-if="!plan.plan.sites.avito">Avito</s>
                  <span v-else>Avito</span>
                </p>
                <p>
                  <i
                    class="bx text-primary mr-2"
                    :class="{
                      'bx-checkbox-square': plan.plan.sites.youla,
                      'bx-checkbox': !plan.plan.sites.youla
                    }"
                  />
                  <s v-if="!plan.plan.sites.youla">Youla</s>
                  <span v-else>Youla</span>
                </p>
                <p>
                  <i
                    class="bx text-primary mr-2"
                    :class="{
                      'bx-checkbox-square': plan.plan.sites.olx,
                      'bx-checkbox': !plan.plan.sites.olx
                    }"
                  />
                  <s v-if="!plan.plan.sites.olx">OLX</s>
                  <span v-else>OLX</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <payment-modal :id="plan.plan.id" :show.sync="showModal" />
      </div>
      <div v-else class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Нет активной подписки</h4>
              <p v-if="plan.has_expired" class="card-title-desc">
                Ваша подписка закончилась
              </p>
              <p v-else class="card-title-desc">У вас еще нет подписки</p>

              <div class="button-items">
                <router-link to="/subscription/select" class="btn btn-success"
                  >Выбрать тариф</router-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from '@/components/page-header';
import paymentModal from '@/components/paymentModal';
import { getSubscriptionInfo } from '@/api/subscription';

export default {
  components: { PageHeader, paymentModal },
  data() {
    return {
      icons: {
        1: 'bx-walk',
        2: 'bx-run',
        3: 'bx-cycling',
        4: 'bx-car',
        5: 'bxs-plane-alt'
      },
      loading: true,
      plan: {
        active: false
      },
      title: 'Моя подписка',
      items: [
        {
          text: 'Подписка',
          active: true
        }
      ],
      showModal: false
    };
  },
  mounted() {
    getSubscriptionInfo().then(response => {
      this.plan = response.data;
      this.loading = false;
    });
  }
};
</script>
