<template>
  <div>
    <PageHeader :title="title" :items="items" />
    <div v-if="data.percent">
      <h5>Как это работает</h5>

      <p>1. Пользователь регистрируется по вашей ссылке.</p>
      <p>2. Затем выбирает тарифный план и оплачивает его.</p>
      <p>
        3. Вы получаете <strong>{{ data.percent }}% в днях</strong> к вашей
        подписке от выбранного тарифного плана.
      </p>

      <p>
        Например ваш реферал оплатил тариф
        <strong>{{ data.plan.name }}</strong> на
        <strong>{{ data.plan.duration }}</strong
        >, ваш бонус к подписке составит
        <strong
          >{{ data.plan.duration }} * {{ data.percent / 100 }} =
          {{ data.plan.duration_percent }}
        </strong>
        <sup>округление в большую сторону</sup>
      </p>

      <h5>Ваша статистика и реферальные ссылки</h5>

      <div class="row">
        <div class="col-md-5">
          <table class="table table-striped table-sm">
            <tbody>
              <tr>
                <td>Переходов по реф. ссылке</td>
                <td>
                  {{ data.visits }}
                </td>
              </tr>
              <tr>
                <td>Зарегистрированных</td>
                <td>
                  {{ data.referrals }}
                </td>
              </tr>
              <tr>
                <td>С активной подпиской</td>
                <td>
                  {{ data.active }}
                </td>
              </tr>
              <tr>
                <td>Выплачено</td>
                <td>
                  {{ data.paid }}
                </td>
              </tr>
              <tr>
                <td>Ожидает выплаты</td>
                <td>
                  {{ data.unpaid }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-7">
          <form>
            <div class="form-group">
              <label for="linkHome">Ссылка на главную страницу</label>
              <input
                id="linkHome"
                v-model="data.welcome_link"
                type="text"
                class="form-control"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="linkReg">Ссылка на страницу регистрации</label>
              <input
                id="linkReg"
                v-model="data.register_link"
                type="text"
                class="form-control"
                readonly
              />
            </div>
          </form>
        </div>
      </div>

      <h5>Рефералы</h5>
      <div class="mb-0">
        <b-table
          :items="data.list"
          :fields="fields"
          responsive="md"
          :per-page="0"
        />
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from '../../components/page-header';
import { getReferralData } from '@/api/user';

/**
 * FAQs component
 */
export default {
  components: { PageHeader },
  data() {
    return {
      title: 'Мои рефералы',
      items: [
        {
          text: 'Партнерская программа',
          active: true
        }
      ],
      data: {},
      fields: [
        { key: 'name', sortable: false, label: 'Имя' },
        { key: 'email', sortable: false, label: 'Email' },
        { key: 'created_at', sortable: false, label: 'Регистрация' },
        { key: 'updated_at', sortable: false, label: 'Последняя активность' },
        { key: 'active', sortable: false, label: 'Подписка' },
        { key: 'paid', sortable: false, label: 'Выплачено' },
        { key: 'unpaid', sortable: false, label: 'Ожидает выплаты' }
      ]
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      getReferralData().then(resp => {
        this.data = resp.data;
      });
    }
  }
};
</script>
