<template>
  <div>
    <PageHeader :title="title" :items="items" />
    <b-modal
      id="modal-subscribe-now"
      title="Оформите подписку чтобы продолжить"
      title-class="font-18"
      hide-footer
      centered
    >
      <div class="text-center">
        <p>
          Для использования расширения выберите и активируйте подходящий тариф.
        </p>
        <b-button
          variant="success"
          @click="$bvModal.hide('modal-subscribe-now')"
        >
          <i class="bx bx-package font-size-16 align-middle mr-2" />
          Выбрать тариф
        </b-button>
      </div>
    </b-modal>

    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h4>Выберите тарифный план</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        v-for="data in pricingData"
        :key="data.price"
        class="col-xl-3 col-md-6"
      >
        <div class="card plan-box">
          <div class="card-body p-4">
            <div class="media">
              <div class="media-body">
                <h5>{{ data.name }}</h5>
                <p class="text-muted">{{ data.text }}</p>
              </div>
              <div class="ml-3">
                <i :class="`bx ${icons[data.id]} h1 text-primary`" />
              </div>
            </div>
            <div class="py-4">
              <h2>
                <sup>
                  <small>₽</small>
                </sup>
                {{ data.price }}/
                <span class="font-size-13">{{ data.duration }}</span>
              </h2>
            </div>
            <div class="text-center plan-btn">
              <a
                href="#"
                class="btn btn-primary btn-sm position-relative"
                @click.prevent="showPaymentModal(data.id)"
                >Выбрать</a
              >
            </div>

            <div class="plan-features mt-5">
              <p>
                <i
                  class="bx text-primary mr-2"
                  :class="{
                    'bx-checkbox-square': data.sites.avito,
                    'bx-checkbox': !data.sites.avito
                  }"
                />
                <s v-if="!data.sites.avito">Avito</s>
                <span v-else>Avito</span>
              </p>
              <p>
                <i
                  class="bx text-primary mr-2"
                  :class="{
                    'bx-checkbox-square': data.sites.youla,
                    'bx-checkbox': !data.sites.youla
                  }"
                />
                <s v-if="!data.sites.youla">Youla</s>
                <span v-else>Youla</span>
              </p>
              <p>
                <i
                  class="bx text-primary mr-2"
                  :class="{
                    'bx-checkbox-square': data.sites.olx,
                    'bx-checkbox': !data.sites.olx
                  }"
                />
                <s v-if="!data.sites.olx">OLX</s>
                <span v-else>OLX</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <payment-modal :id="selectedPlan" :show.sync="showModal" />
  </div>
</template>

<script>
import PageHeader from '../../components/page-header';
import { getPlans } from '@/api/subscription';
import paymentModal from '@/components/paymentModal';

export default {
  components: { PageHeader, paymentModal },
  data() {
    return {
      selectedPlan: 0,
      showModal: false,
      icons: {
        1: 'bx-walk',
        2: 'bx-run',
        3: 'bx-cycling',
        4: 'bx-car',
        5: 'bxs-plane-alt'
      },
      pricingData: [],
      title: 'Выбор тарифа',
      items: [
        {
          text: 'Подписка',
          href: '/subscription'
        },
        {
          text: 'Выбор тарифа',
          active: true
        }
      ]
    };
  },
  mounted() {
    getPlans().then(response => {
      this.pricingData = response.data;
    });

    this.$bvModal.show('modal-subscribe-now');
  },
  methods: {
    showPaymentModal(id) {
      this.selectedPlan = id;
      this.showModal = true;
    }
  }
};
</script>

<style scoped>
.media {
  min-height: 85px;
}
</style>
