.editor-js-image {
  text-align: center;
  img {
    max-width: 100%;
  }
}

.modal-answer-body {
  max-width: 95%;
}


textarea
{
  width:100%;
}
.textwrapper
{
 
}


.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
  background: #34C38F !important;
  border: none;
  width: 76px; height: 27px; padding:0px;
}


.btn-outline-dark
{
  width: 76px; height: 27px; padding:0px;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
}

#user-info___BV_modal_content_{
  width: 375px !important;
  color:#495057;
}

#user-info___BV_modal_content_ input{
  height: 27px;
  color:#495057;
}

#user-info___BV_modal_content_ button{
  height: 27px;
  padding: 0;
}