<script>
import { mapGetters, mapState } from 'vuex';
import VueTabs from 'vue-nav-tabs';
import 'vue-nav-tabs/themes/vue-tabs.css';
import { DateTime } from 'luxon';
import { saveProfile } from '@/api/profiles';
import ProfileService from '@/services/profile';

Vue.use(VueTabs);

export default {
  props: {
    profile: {
      type: Object,
      required: true,
    },
    show: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      uniqueId: Math.round(Math.random() * 100000),
      loading: false,
      profileData: {
        data: {},
      },

      timezones: [
        'Europe/Kaliningrad',
        'Europe/Moscow',
        'Europe/Samara',
        'Asia/Yekaterinburg',
        'Asia/Omsk',
        'Asia/Krasnoyarsk',
        'Asia/Irkutsk',
        'Asia/Chita',
        'Asia/Vladivostok',
        'Asia/Magadan',
        'Asia/Kamchatka',
      ],
      timezonesSelect: [],
      folders:[],
            foldersSelect: [],
       selected: [], // Must be an array reference!
        options: [
          { text: 'WebGL', value: 'red' },
          { text: 'Audio', value: 'green' },
          { text: 'Canvas', value: 'yellow' },
          { text: 'Font', value: 'blue' }
        ]
    };
  },
  computed: {
     ...mapGetters({
      server: 'app/server',
      avatar: 'user/avatar',
      name: 'user/name',
      currentProfile: 'profiles/currentProfile'
    }),
  },
  watch: {
   currentProfile: {
    handler (newVal) {
      if (newVal) {
        this.load()
       
      }
    },
    immediate: true 
  },

 

  },

  mounted() {
    this.load();
    for (const zone in this.timezones) {
      let tzone = DateTime.local().setZone(this.timezones[zone]);
      let offset = tzone.offset / 60;
      let name = `(${offset > 0 ? '+' + offset : offset}) ${
        this.timezones[zone]
      }`;
      this.timezonesSelect.push({
        value: this.timezones[zone],
        text: name,
      });
    }





  },
  methods: {
    folderAppend(){
   
         this.foldersSelect =  Vue.prototype.$globalFolders;
   
         
    },

    load() {
      
      try {
      //  currentProfile= 'profiles/currentProfile';
      //  this.loading = true;

        console.log('load cur ---------- ' +  this.$store.getters['profiles/currentProfile']);

        this.profileData = this.$store.getters['profiles/currentProfile'];

        if (this.profileData.data.geo && this.profileData.data.geo.time_zone) {
          this.profileData.data.timezone =
            this.profileData.data.geo.time_zone.name;
        }

        if (this.profileData.data.proxy_host) {
          this.profileData.data.proxy = [
            this.profileData.data.proxy_host,
            this.profileData.data.proxy_port,
            this.profileData.data.proxy_user,
            this.profileData.data.proxy_pass,
          ].join(':');
        } else {
          this.profileData.data.proxy = '';
        }
      } catch (e) {
        console.error('error laod profile ' + e);
      }
       this.folderAppend()
    },
    onPageChange() {
      this.$nextTick(() => {
       // this.load();
      });
    },

    async onSubmit() {
    
      try {
        let tz = this.profileData.data.timezone;

        if (!this.profileData.data.geo || !this.profileData.data.geo.lat) {
          this.profileData.data.geo = {
            lat: 0,
            lng: 0,
            time_zone: { name: tz },
          };
        } else {
          this.profileData.data.geo.time_zone.name = tz;
        }

        let proxy = this.profileData.data.proxy.trim().split(':');
        console.log(
          'proxy',
          this.profileData.data.proxy,
          this.profileData.data.proxy.trim(),
          proxy
        );
        if (proxy.length >= 2) {
          this.profileData.data.proxy_host = proxy[0];
          this.profileData.data.proxy_port = proxy[1];
          this.profileData.data.proxy_user = proxy[2];
          this.profileData.data.proxy_pass = proxy[3];
        }

        console.log(
          'IDs',
          this.currentProfile ? this.currentProfile.id : null,
          this.profileData.id
        );

        if (
          this.currentProfile &&
          this.currentProfile.id === this.profileData.id
        ) {
          this.profileData.data.cookies = await ProfileService.getCookies();
        }

        let response = await saveProfile(
          this.profileData.data,
          this.profileData.id
        );

        if (
          this.currentProfile &&
          this.currentProfile.id === this.profileData.id
        ) {
          await ProfileService.apply(response.data);
        }
      } catch (e) {
        console.error(e);
      }
    },
  },
};
</script>

<template>
  <div>
    <vue-tabs>
      <v-tab title="Основные параметры">
        <div class="card-body1" style="padding-top: 18px">
          <b-container class="bv-example-row">
            <b-form @submit.prevent="onSubmit">
              <b-row style="padding-top:10px;">
                <b-col style="flex-grow: 0; padding-right: 1px">
                  <svg
                    width="13"
                    height="14"
                    viewBox="0 0 13 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.25 3.31579C3.25 5.14389 4.70817 6.63158 6.5 6.63158C8.29183 6.63158 9.75 5.14389 9.75 3.31579C9.75 1.48768 8.29183 0 6.5 0C4.70817 0 3.25 1.48768 3.25 3.31579ZM12.2778 14H13V13.2632C13 10.4197 10.7315 8.10526 7.94444 8.10526H5.05556C2.26778 8.10526 0 10.4197 0 13.2632V14H0.722222H1.44444H11.5556H12.2778Z"
                      fill="#79829C"
                    /></svg
                ></b-col>
                <b-col style="padding-left: 4px">
                  <b-form-group
                    label="Название"
                    label-for="input-2"
                  ></b-form-group>
                </b-col>

                <b-col cols="8">
                  <b-form-input
                    style="height: 27px"
                    id="input-2"
                    v-model="profileData.data.name"
                    placeholder="Название профиля"
                    required
                  >
                  </b-form-input>
                </b-col>
              </b-row>

              <b-row style="padding-top:10px;">
                 <b-col style="flex-grow: 0; padding-right: 1px">
                  <svg
                    width="13"
                    height="12"
                    viewBox="0 0 13 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.7 1.32407H6.1191L5.00955 0.193977C4.888 0.0695139 4.72225 0 4.55 0H1.3C0.58305 0 0 0.593847 0 1.32407V10.5926C0 11.3228 0.58305 11.9167 1.3 11.9167H11.7C12.4169 11.9167 13 11.3228 13 10.5926V2.64815C13 1.91792 12.4169 1.32407 11.7 1.32407Z"
                      fill="#79829C"
                    />
                  </svg>
              </b-col>
                <b-col style="padding-left: 4px">
                  <b-form-group label="Папка" label-for="folder"></b-form-group>
                </b-col>
                <b-col cols="8">
                  <b-form-select
                   style="height: 27px; padding:0px; padding-left:10px"
                    id="folder"
                    v-model="profileData.data.folder"
                    :options="foldersSelect"
                    required
                  ></b-form-select>
                </b-col>
              </b-row>

              <b-row style="padding-top:10px;">
                 <b-col style="flex-grow: 0; padding-right: 1px">
                  <svg
                    width="13"
                    height="13"
                    viewBox="0 0 13 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.5 0C2.9159 0 0 2.9159 0 6.5C0 10.0841 2.9159 13 6.5 13C10.0841 13 13 10.0841 13 6.5C13 2.9159 10.0841 0 6.5 0ZM1.3 6.5C1.3 5.91565 1.4014 5.3547 1.58015 4.83015L2.6 5.85L3.9 7.15V8.45L5.2 9.75L5.85 10.4V11.6551C3.28965 11.3334 1.3 9.1468 1.3 6.5ZM10.6145 9.66745C10.19 9.32555 9.54655 9.1 9.1 9.1V8.45C9.1 7.7324 8.5176 7.15 7.8 7.15H5.2V5.85V5.2C5.9176 5.2 6.5 4.6176 6.5 3.9V3.25H7.15C7.8676 3.25 8.45 2.6676 8.45 1.95V1.68285C10.3532 2.4557 11.7 4.3225 11.7 6.5C11.7 7.69275 11.2924 8.7893 10.6145 9.66745Z"
                      fill="#79829C"
                    />
                  </svg>
</b-col>
                <b-col style="padding-left: 4px">
                  <b-form-group label="Прокси" label-for="proxy">
                  </b-form-group
                ></b-col>
                <b-col cols="8">
                  <b-form-input
                    style="height: 27px"
                    id="proxy"
                    v-model="profileData.data.proxy"
                    placeholder="IP:PORT:USER:PASSWORD"
                  ></b-form-input>
                </b-col>
              </b-row>

              <b-row style="padding-top:10px;">
                 <b-col style="flex-grow: 0; padding-right: 1px">
                  <svg
                    width="13"
                    height="13"
                    viewBox="0 0 13 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.5 0C2.9159 0 0 2.9159 0 6.5C0 10.0841 2.9159 13 6.5 13C10.0841 13 13 10.0841 13 6.5C13 2.9159 10.0841 0 6.5 0ZM10.2375 7.15H5.85V2.6H7.15V5.85H10.2375V7.15Z"
                      fill="#79829C"
                    />
                  </svg>
</b-col>
                <b-col style="padding-left: 4px">
                  <b-form-group label="Часовой пояс" label-for="input-3">
                  </b-form-group
                ></b-col>
                <b-col cols="8">
                  <b-form-select
                    style="height: 27px; padding:0px; padding-left:10px"
                    id="input-3"
                    v-model="profileData.data.timezone"
                    :options="timezonesSelect"
                    required
                  ></b-form-select>
                </b-col>
              </b-row>

              <b-row style="padding-top:10px;">
                 <b-col style="flex-grow: 0; padding-right: 1px">
                  <svg
                    width="13"
                    height="17"
                    viewBox="0 0 13 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.5 0C2.9161 0 6.61731e-05 2.91603 6.61731e-05 6.49587C-0.0234961 11.7324 6.253 16.0743 6.5 16.2498C6.5 16.2498 13.0235 11.7324 12.9999 6.49994C12.9999 2.91603 10.0839 0 6.5 0ZM6.5 9.7499C4.70439 9.7499 3.25003 8.29554 3.25003 6.49994C3.25003 4.70433 4.70439 3.24997 6.5 3.24997C8.29561 3.24997 9.74997 4.70433 9.74997 6.49994C9.74997 8.29554 8.29561 9.7499 6.5 9.7499Z"
                      fill="#79829C"
                    />
                  </svg>
</b-col>
                <b-col style="padding-left: 4px">
                  <b-form-group label="Локация" label-for="geo">
                  </b-form-group
                ></b-col>
                <b-col cols="8">
                  <b-form-input
                    style="height: 27px"
                    id="geo"
                    v-model="profileData.data.geo.lat"
                    placeholder="Локация"
                  ></b-form-input>
                </b-col>
              </b-row>

              <b-row style="padding-top:10px;">
                 <b-col style="flex-grow: 0; padding-right: 1px">
                  <svg
                    width="13"
                    height="14"
                    viewBox="0 0 13 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.17293 2.12045C7.84704 1.27483 7.43739 0.562652 6.96665 0.0165924C6.81205 0.00566328 6.65646 0 6.50007 0C6.34359 0 6.18799 0.00566328 6.0335 0.0165924C5.56265 0.562652 5.15301 1.27474 4.82722 2.12045C4.722 2.39348 4.62741 2.67655 4.54346 2.96786H8.45669C8.37263 2.67655 8.27804 2.39348 8.17293 2.12045Z"
                      fill="#79829C"
                    />
                    <path
                      d="M4.3519 9.29177H8.64794C8.81218 8.52852 8.90756 7.72075 8.93001 6.89282H4.06982C4.09228 7.72085 4.18766 8.52852 4.3519 9.29177Z"
                      fill="#79829C"
                    />
                    <path
                      d="M8.64794 3.73096H4.3519C4.18766 4.49421 4.09228 5.30197 4.06982 6.1299H8.93001C8.90756 5.30187 8.81218 4.49421 8.64794 3.73096Z"
                      fill="#79829C"
                    />
                    <path
                      d="M4.82712 10.9023C5.15301 11.748 5.56265 12.4601 6.0334 13.0062C6.18799 13.0171 6.34359 13.0228 6.50007 13.0228C6.65646 13.0228 6.81205 13.0171 6.96665 13.0062C7.43739 12.4601 7.84704 11.7481 8.17283 10.9023C8.27804 10.6293 8.37263 10.3462 8.45659 10.0549H4.54346C4.62741 10.3462 4.722 10.6293 4.82712 10.9023Z"
                      fill="#79829C"
                    />
                    <path
                      d="M9.42603 3.73082C9.57993 4.49268 9.67173 5.29925 9.69329 6.12977H13C12.9517 5.28812 12.7442 4.47649 12.3913 3.73022C12.3876 3.73032 12.384 3.73082 12.3804 3.73082H9.42603Z"
                      fill="#79829C"
                    />
                    <path
                      d="M3.57403 9.29177C3.42003 8.52991 3.32822 7.72334 3.30666 6.89282H0C0.048287 7.73447 0.255742 8.5461 0.608654 9.29237C0.61233 9.29227 0.615907 9.29177 0.619583 9.29177H3.57403Z"
                      fill="#79829C"
                    />
                    <path
                      d="M9.24717 10.0549C8.96311 11.1142 8.55337 12.0637 8.04248 12.8397C9.19213 12.5617 10.2468 11.9732 11.1043 11.1157C11.4311 10.7889 11.7184 10.4333 11.9649 10.0549H9.24717Z"
                      fill="#79829C"
                    />
                    <path
                      d="M3.75308 2.96785C4.03724 1.90862 4.44688 0.959075 4.95777 0.183105C3.80822 0.461103 2.75346 1.04959 1.89582 1.90713C1.56914 2.23391 1.2818 2.5895 1.0354 2.96785H3.75308Z"
                      fill="#79829C"
                    />
                    <path
                      d="M3.75308 10.0549H1.0354C1.2818 10.4333 1.56914 10.7889 1.89582 11.1157C2.75346 11.9732 3.80812 12.5617 4.95767 12.8397C4.44688 12.0637 4.03724 11.1142 3.75308 10.0549Z"
                      fill="#79829C"
                    />
                    <path
                      d="M9.24717 2.96785H11.9649C11.7184 2.5895 11.4312 2.23391 11.1044 1.90713C10.2468 1.04959 9.19213 0.461103 8.04248 0.183105C8.55337 0.959075 8.96311 1.90862 9.24717 2.96785Z"
                      fill="#79829C"
                    />
                    <path
                      d="M9.69329 6.89282C9.67173 7.72334 9.58003 8.52991 9.42603 9.29177H12.3804C12.384 9.29177 12.3876 9.29227 12.3913 9.29237C12.7442 8.5461 12.9517 7.73447 13 6.89282H9.69329Z"
                      fill="#79829C"
                    />
                    <path
                      d="M3.30666 6.12977C3.32822 5.29925 3.42003 4.49268 3.57403 3.73082H0.619583C0.615907 3.73082 0.61233 3.73032 0.608654 3.73022C0.255742 4.47649 0.048287 5.28812 0 6.12977H3.30666Z"
                      fill="#79829C"
                    />
                  </svg>
</b-col>
                <b-col style="padding-left: 4px">
                  <b-form-group label="Браузер" label-for="input-4">
                  </b-form-group
                ></b-col>
                <b-col cols="8">
                  <div style="margin-left: 0px">



                    <b-button-group>
                      
                      <b-button

                     :pressed.sync="myToggle"
                        id="chrome"
                        variant="outline-dark"
               
                        ><svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.6843 0.0217967C4.77154 0.140482 3.69563 0.546725 2.90156 1.07867C2.24521 1.51031 1.34389 2.39194 1.40102 2.54176C1.52608 2.8674 3.53314 6.21945 3.56486 6.1566C3.58962 6.11344 3.62706 5.97571 3.64545 5.83798C3.80795 4.9379 4.57154 4.08103 5.52811 3.72426C5.89755 3.58016 5.97178 3.58016 9.09979 3.54909L12.2957 3.51795L12.0393 3.0984C11.1386 1.629 9.74976 0.615941 8.01121 0.165248C7.53582 0.040193 6.1851 -0.041056 5.6843 0.0217967Z" fill="white"/>
<path d="M0.78143 3.38642C0.487576 3.90562 0.142894 4.95611 0.0622971 5.5693C-0.319823 8.34632 1.08172 11.0294 3.55845 12.2735C4.13985 12.5673 4.97137 12.8492 5.33444 12.8803L5.56551 12.8987L6.65409 11.0541C7.24823 10.0411 7.72934 9.20259 7.71725 9.1905C7.70458 9.17783 7.56685 9.21527 7.40435 9.27175C6.38493 9.61578 5.20308 9.32759 4.43377 8.54625C4.1589 8.27079 3.78315 7.66398 2.58856 5.59407C1.76276 4.16146 1.06898 2.98591 1.04357 2.98591C1.02517 2.98591 0.905835 3.16744 0.78143 3.38642Z" fill="white"/>
<path d="M8.54869 4.418C9.34341 5.2254 9.62459 6.36981 9.27419 7.40191C9.21836 7.57077 8.48649 8.87768 7.6486 10.3167C6.81013 11.7486 6.12207 12.9369 6.12207 12.9553C6.12207 13.0302 6.9853 12.9927 7.53564 12.8988C10.3437 12.4177 12.458 10.2976 12.9081 7.52001C13.0769 6.50696 13.0147 5.61897 12.7081 4.59324L12.5456 4.04927H10.3628H8.18626L8.54869 4.418Z" fill="white"/>
<path d="M5.59712 4.26175C4.94019 4.53721 4.49015 4.99993 4.24576 5.65627C4.13338 5.95078 4.1144 6.11964 4.13338 6.58171C4.15242 7.06984 4.17719 7.20757 4.35873 7.56427C4.59675 8.05175 4.98394 8.4275 5.49683 8.6706C5.79706 8.8147 5.92211 8.83374 6.49721 8.83374C7.07926 8.83374 7.19795 8.8147 7.51091 8.66488C7.97363 8.45228 8.46111 7.96414 8.67437 7.50143C8.82419 7.18853 8.84258 7.06977 8.84258 6.48837C8.84258 5.91269 8.82419 5.78763 8.68009 5.48741C8.43635 4.97516 8.06125 4.58674 7.57311 4.34931C7.20432 4.16777 7.09135 4.143 6.56006 4.12396C6.04717 4.11135 5.91639 4.13039 5.59712 4.26175Z" fill="white"/>
</svg> Chrome                       
 </b-button>
                      <b-button
                     :pressed.sync="myToggle"
                        id="fire"
                        variant="outline-dark"
                        style="margin-left: 7px; "
                    
                        ><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.9516 6.12663C12.9342 6.00946 12.9115 5.93513 12.9115 5.93513C12.9115 5.93513 12.8666 5.99138 12.7862 6.09315C12.7648 5.8059 12.7133 5.51799 12.6336 5.24011C12.5325 4.89059 12.4012 4.55045 12.2379 4.22838C12.1374 4.01278 12.0176 3.8032 11.8763 3.61237C11.8033 3.49854 11.7404 3.41417 11.7283 3.39677C11.4859 3.00238 11.2148 2.76268 10.892 2.31138C10.6885 1.96722 10.5479 1.58355 10.4802 1.18716C10.3892 1.42419 10.3222 1.67327 10.2773 1.92169C9.95394 1.59426 9.66602 1.35522 9.49528 1.19854C8.64692 0.406433 8.75004 0 8.75004 0C8.75004 0 7.16716 1.76434 7.85146 3.60032C8.08849 4.22235 8.49694 4.77141 9.0326 5.17181C9.69481 5.71618 10.4066 6.14404 10.7795 7.24817C10.4802 6.66564 10.0222 6.18489 9.46247 5.85077C9.63187 6.25385 9.71691 6.67569 9.71088 7.11225C9.71088 8.76276 8.37239 10.1019 6.71385 10.1019C6.49356 10.1019 6.26724 10.0798 6.05432 10.0289C5.79318 9.97804 5.54343 9.89434 5.3131 9.77516C4.96358 9.56558 4.65691 9.28905 4.41988 8.95426V8.94957C4.448 8.96028 4.46474 8.96564 4.4701 8.96564C4.59531 9.0105 4.71918 9.04465 4.84975 9.06809C5.35729 9.17455 5.88358 9.11228 6.35295 8.89199C6.82701 8.62683 7.1156 8.43333 7.3466 8.50765C7.57962 8.58063 7.7537 8.36034 7.59635 8.12934C7.31312 7.76241 6.84978 7.58564 6.39781 7.66599C5.92174 7.73362 5.48719 8.06707 4.87117 7.74433C4.82631 7.7229 4.79283 7.70014 4.75333 7.6767C4.71315 7.64858 4.88858 7.71085 4.84305 7.68273C4.70713 7.61376 4.5779 7.54145 4.45336 7.45039C4.44733 7.44436 4.55045 7.47918 4.53773 7.47248C4.38037 7.36535 4.23775 7.22474 4.13062 7.06136C4.02416 6.86317 4.01144 6.62011 4.10384 6.40986C4.16544 6.30273 4.24981 6.22372 4.35828 6.17283C4.43662 6.21301 4.48684 6.23979 4.48684 6.23979C4.48684 6.23979 4.44733 6.17283 4.42992 6.13868C4.43662 6.13333 4.44265 6.13868 4.45336 6.13333C4.52166 6.16145 4.67365 6.23979 4.75802 6.29135C4.8156 6.31813 4.86046 6.365 4.89997 6.41589C4.89997 6.41589 4.92876 6.40451 4.90599 6.34358C4.8772 6.26925 4.82631 6.20631 4.75802 6.16748H4.77007C4.83234 6.20163 4.88925 6.23577 4.94483 6.2793C4.99572 6.15475 5.02451 6.03289 5.01982 5.90232C5.02451 5.83001 5.01246 5.75502 4.99103 5.69275C4.96759 5.64788 5.00241 5.63048 5.04125 5.67601C5.03455 5.64119 5.02451 5.60771 5.0071 5.57423C5.0071 5.57423 5.02986 5.54008 5.04125 5.53272C5.07004 5.50593 5.09749 5.47781 5.13231 5.46107C5.3285 5.3372 5.53339 5.22873 5.74832 5.14369C5.92241 5.07205 6.06436 5.00911 6.09315 4.99103C6.13802 4.96291 6.17819 4.93478 6.21769 4.89997C6.365 4.77609 6.46142 4.60669 6.49423 4.41921C6.50093 4.39243 6.50093 4.36966 6.50093 4.34757V4.30136C6.47816 4.20495 6.31411 4.13732 5.46107 4.05228C5.16177 4.00876 4.91872 3.78043 4.85109 3.4818V3.48649C4.8397 3.51595 4.82765 3.54876 4.81694 3.58425C4.82765 3.54876 4.83904 3.52131 4.85109 3.48649V3.4818C5.01379 3.05729 5.30841 2.69036 5.68739 2.44195C5.70815 2.42521 5.60302 2.44664 5.62512 2.43057C5.69342 2.39642 5.7664 2.3616 5.84541 2.33348C5.88491 2.32142 5.68136 2.24375 5.50058 2.25982C5.39211 2.26585 5.28497 2.29397 5.18387 2.33348C5.22873 2.30067 5.3526 2.25447 5.32448 2.25447C5.09347 2.29397 4.87251 2.37968 4.67499 2.49752C4.67499 2.47543 4.68168 2.45735 4.68704 2.44195C4.52768 2.50958 4.3864 2.61805 4.2853 2.75263V2.67764C4.21231 2.73589 4.14937 2.79883 4.08777 2.86512H4.08241C3.61304 2.68501 3.10349 2.6388 2.60599 2.74192L2.60064 2.73589H2.60599C2.50556 2.65688 2.41583 2.55444 2.34687 2.44195L2.34017 2.44664L2.33013 2.43592C2.29464 2.39039 2.26786 2.33415 2.2317 2.27121C2.20492 2.23103 2.18215 2.18014 2.15403 2.13059C2.15403 2.13059 2.15403 2.12524 2.14867 2.12524C2.14198 2.12524 2.13126 2.1768 2.12658 2.15805C2.04154 1.93307 1.99601 1.69001 2.00672 1.45298H2.00137C1.86076 1.54873 1.75228 1.68399 1.7014 1.84736C1.67394 1.90495 1.65653 1.93307 1.63979 1.96722V1.94847L1.65586 1.86477C1.65185 1.8708 1.65185 1.87616 1.64448 1.88151C1.60565 1.92704 1.57217 1.97726 1.54405 2.03552C1.51458 2.08573 1.49249 2.14064 1.47508 2.19822V2.1701C1.47508 2.14733 1.48111 2.11319 1.47508 2.12524L1.46905 2.14064C1.28827 2.54305 1.17042 2.97292 1.13025 3.41417C1.11953 3.49318 1.11953 3.56684 1.11953 3.63982V3.65187C0.990305 3.79182 0.876477 3.94515 0.775371 4.1092C0.446608 4.66361 0.203552 5.26221 0.050888 5.8896C0.15869 5.65257 0.287918 5.42023 0.441252 5.20596C0.147307 5.94652 0 6.72657 0 7.51868C0.0508879 7.28701 0.113159 7.06069 0.186143 6.83438C0.140611 7.7671 0.322067 8.70049 0.7131 9.5542C1.23738 10.73 2.10783 11.7189 3.21598 12.3858C3.66259 12.6912 4.15473 12.9295 4.66829 13.0876C4.73659 13.1097 4.81091 13.1371 4.87787 13.1605C4.85511 13.1485 4.83837 13.1371 4.81627 13.1324C5.42692 13.3139 6.06436 13.409 6.70314 13.409C8.971 13.409 9.71691 12.5439 9.78989 12.4595C9.89702 12.3584 9.99277 12.2379 10.055 12.0973C10.1006 12.0812 10.1401 12.0638 10.1856 12.041L10.2131 12.0303C10.2472 12.0129 10.2633 12.0075 10.2633 12.0075C10.6095 11.8442 10.9308 11.6453 11.2255 11.4076C11.6654 11.0909 11.9767 10.6269 12.1133 10.1012C12.197 9.90974 12.197 9.6995 12.1294 9.50264C12.1629 9.4464 12.1923 9.39484 12.197 9.38346C12.6838 8.60273 12.961 7.71018 12.9998 6.78818V6.78282V6.7105C13.0019 6.51767 12.9844 6.31813 12.9516 6.12663Z" fill="#79829C"/>
</svg> Firefox</b-button>
                      <b-button
              :pressed.sync="myToggle"
                        id="saf"
                        variant="outline-dark"
                        style=" margin-left: 7px;"
                       
                        ><svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.5 0C2.91606 0 0 2.91606 0 6.5C0 10.0839 2.91606 13 6.5 13C10.0839 13 13 10.0839 13 6.5C13 2.91606 10.0839 0 6.5 0ZM2.4375 10.5625L5.45756 6.032L6.968 7.54244L2.4375 10.5625ZM7.54244 6.968L6.032 5.45756L10.5625 2.4375L7.54244 6.968Z" fill="#79829C"/>
</svg> Safari</b-button>
                      <b-button
                      :pressed.sync="myToggle"
                        id="opera"
                        variant="outline-dark"
                        style=" margin-left: 7px; "
                       
                        ><svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.3615 2.8379C3.6426 3.6855 3.1772 4.9413 3.1447 6.34725V6.6534C3.1772 8.06065 3.6426 9.3145 4.3615 10.1614C5.2936 11.3737 6.6781 12.1413 8.2277 12.1413C9.17865 12.1413 10.0698 11.8502 10.8316 11.3451C9.6837 12.3747 8.16595 13 6.5 13C6.396 13 6.2933 12.9974 6.19125 12.9915C2.743 12.8316 0 9.9866 0 6.5C0 2.91005 2.9107 0 6.5 0H6.5247C8.17895 0.00585 9.6876 0.6318 10.8323 1.65425C10.0698 1.1518 9.1793 0.858 8.2264 0.858C6.6781 0.858 5.2923 1.6276 4.3589 2.8379H4.3615ZM13 6.5C13 8.4266 12.1628 10.1556 10.8323 11.3457C9.16565 12.1582 7.61215 11.5895 7.0967 11.234C8.7347 10.8745 9.971 8.89395 9.971 6.5C9.971 4.1041 8.73535 2.1255 7.0967 1.76605C7.6115 1.4118 9.16565 0.84305 10.8323 1.65425C12.1628 2.84375 13 4.57405 13 6.5Z" fill="#79829C"/>
</svg> Opera</b-button>
                    </b-button-group>
                  </div>
                </b-col>
              </b-row>

              <b-row style="padding-top:10px;">
                 <b-col style="flex-grow: 0; padding-right: 1px">
                  <svg
                    width="13"
                    height="13"
                    viewBox="0 0 13 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.99182 12.0956L10.4919 5.59551L7.40449 2.50809L0.904403 9.00818C0.814872 9.09771 0.751221 9.21032 0.720445 9.33273L0 13L3.66657 12.2796C3.78968 12.2488 3.90229 12.1851 3.99182 12.0956ZM12.5903 3.49713C13.1366 2.95085 13.1366 2.06533 12.5903 1.51905L11.4809 0.409709C10.9347 -0.13657 10.0492 -0.13657 9.50287 0.409709L8.39353 1.51905L11.4809 4.60647L12.5903 3.49713Z"
                      fill="#79829C"
                    />
                  </svg>
</b-col>
                <b-col style="padding-left: 4px">
                  <b-form-group label="Примечания" label-for="input-4">
                  </b-form-group
                ></b-col>
                <b-col cols="8">
                  <div class="textwrapper">
                    <textarea
                      id="desc"
                      v-model="profileData.data.desc"
                      placeholder="Примечания"
                    ></textarea>
                  </div>
                </b-col>
              </b-row>
              <b-row style="padding-top:10px;width: inherit;">
                <b-col cols="9"></b-col>
                <b-col>
                  <b-button type="submit" variant="primary" style="width: inherit;height:27px;padding:0 !important;">Сохранить</b-button>
                </b-col>
              </b-row>
            </b-form>
          </b-container>
        </div>
      </v-tab>

      <v-tab title="Расширенные параметры">
        <div>
          <b-form-group label="Подмена параметров" v-slot="{ ariaDescribedby }">
            <b-form-checkbox-group
              v-model="profileData.data.add_params"
              :options="options"
              size=""
              :aria-describedby="ariaDescribedby"
              switches
            ></b-form-checkbox-group>
          </b-form-group>
        </div>
      </v-tab>

      
    </vue-tabs>
  </div>
</template>
