<script>
import PageHeader from '@/components/page-header';
import ProfileModal from '@/components/profileModal';
// import GeoPoint from '@/components/geo-point';
import ProfileService from '@/services/profile';
import { getProfiles, importProfiles, exportProfiles } from '@/api/profiles';
import Swal from 'sweetalert2';
import { mapGetters } from 'vuex';

export default {
  components: { PageHeader, ProfileModal },
  data() {
    return {
      tableData: [],
      title: 'Профили',
      items: [
        {
          text: 'Профили',
          active: true
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 20,
      pageOptions: [10, 25, 50, 100],
      search: '',
      fields: [
        { key: 'action_activate', sortable: false, label: '' },
        // { key: 'id', sortable: false, label: 'ID' },
        { key: 'name', sortable: false, label: 'Название' },
        // { key: 'proxy', sortable: false, label: 'Прокси' },
        // { key: 'geo', sortable: false, label: 'ГЕО' },
        { key: 'timezone', sortable: false, label: 'Таймзона' },
        { key: 'action_edit', sortable: false, label: '' }
      ],

      modalProfile: {},
      showModal: false
    };
  },
  computed: {
    ...mapGetters({
      currentProfile: 'profiles/currentProfile'
    })
  },
  watch: {
    search() {
      this.onFiltered();
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      getProfiles({
        page: this.currentPage,
        search: this.search,
        full: true
      }).then(response => {
        this.tableData = response.data.data;
        this.tableData.splice();
        this.totalRows = response.data.pagination.total;
        this.perPage = response.data.pagination.per_page;
      });
    },
    onFiltered() {
      this.$nextTick(() => {
        this.tableData = [];
        this.currentPage = 1;
        this.load();
      });
    },
    onPageChange() {
      this.$nextTick(() => {
        this.load();
      });
    },
    uploadFile() {
      const formData = new FormData();
      const imagefile = document.querySelector('[name="profiles"]');
      formData.append('profiles', imagefile.files[0]);
      importProfiles(formData)
        .then(response => {
          if (response.data.success) {
            this.$bvModal.hide('upload-modal');
            Swal.fire('Успешно!', 'Профили загружены', 'success');
            this.onFiltered();
          } else {
            Swal.fire('Ошибка!', response.data.message, 'error');
          }
        })
        .catch(e => {
          Swal.fire('Ошибка!', 'Не получилось загрузить файл', 'error');
          console.error(e);
        });
    },
    download() {
      exportProfiles().then(response => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', +new Date() + '_profiles.xlsx'); // or any other extension
        document.body.appendChild(link);
        link.click();
      });
    },
    apply(profile) {
      ProfileService.apply(profile);
    },
    openModal(item) {
      if (!item) {
        return;
      }
      this.modalProfile = item;
      this.showModal = true;
    }
  }
};
</script>

<template>
  <div style="background: transparent;">
    <PageHeader :title="title" :items="items" />
    <profile-modal :profile="modalProfile" :show.sync="showModal" />

    <div class="row" style="background: transparent;">
      <div class="col-12" style="background: transparent;">
        <div class="card" style="background: transparent;">
          <div class="card-body" style="background: transparent;">
            <div class="row mt-4">
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_filter" class="dataTables_filter">
                  <label class="d-inline-flex align-items-center">
                    <b-form-input
                      v-model="search"
                      type="search"
                      placeholder="Поиск..."
                      class="form-control ml-2"
                    />
                  </label>
                </div>
              </div>
              <!-- End search -->
              <div class="col-sm-12 col-md-6">
                <div class="float-right">
                  <b-dropdown right text="Импорт/Экспорт">
                    <b-dropdown-item @click.prevent="download"
                      >Скачать профили</b-dropdown-item
                    >
                    <b-dropdown-item @click="$bvModal.show('upload-modal')"
                      >Загрузить профили</b-dropdown-item
                    >
                  </b-dropdown>

                  <b-modal
                    id="upload-modal"
                    title="Загрузить профили"
                    hide-footer
                  >
                    <form class="form-inline">
                      <input type="file" name="profiles" required />
                      <input
                        type="submit"
                        value="Загрузить профили"
                        name="submit"
                        class="btn btn-success"
                        @click.prevent="uploadFile"
                      />
                    </form>
                  </b-modal>
                </div>
              </div>
            </div>
            <!-- Table -->
            <div class="table-responsive mb-0">
              <b-table
                :items="tableData"
                :fields="fields"
                responsive="sm"
                :per-page="0"
              >
                <!--                <template v-slot:cell(geo)="data">-->
                <!--                  <geo-point-->
                <!--                    :key="-->
                <!--                      `${parseFloat(data.item.geo.lat)} ${parseFloat(-->
                <!--                        data.item.geo.lng-->
                <!--                      )}`-->
                <!--                    "-->
                <!--                    :lat="parseFloat(data.item.geo.lat)"-->
                <!--                    :lon="parseFloat(data.item.geo.lng)"-->
                <!--                  />-->
                <!--                </template>-->
                <template v-slot:cell(timezone)="data">
                  <b class="text-info">{{
                    data.item.geo.time_zone ? data.item.geo.time_zone.name : ''
                  }}</b>
                </template>
                <template v-slot:cell(action_activate)="data">
                  <b-button
                    :variant="
                      currentProfile && currentProfile.id === data.item.id
                        ? 'success'
                        : 'info'
                    "
                    @click="apply(data.item)"
                  >
                    <i
                      class="bx cursor-pointer"
                      :class="
                        currentProfile && currentProfile.id === data.item.id
                          ? 'bx-checkbox-checked'
                          : 'bx-checkbox'
                      "
                    ></i>

                    {{
                      currentProfile && currentProfile.id === data.item.id
                        ? 'Активен'
                        : 'Выбрать'
                    }}
                  </b-button>
                </template>

                <template v-slot:cell(action_edit)="data">
                  <i
                    @click="openModal(data.item)"
                    class="bx font-size-24 bx-cog cursor-pointer"
                  ></i>
                </template>
              </b-table>
            </div>
            <div class="row">
              <div class="col">
                <div
                  class="dataTables_paginate paging_simple_numbers float-right"
                >
                  <ul class="pagination pagination-rounded mb-0">
                    <!-- pagination -->
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="totalRows"
                      :per-page="perPage"
                      @change="onPageChange"
                    />
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
