<template>
  <div>
    <div
      v-if="answers.length"
    >
      <div
        v-for="answer in answers"
        :key="answer.id"
        class="faq-box media mb-4"
      >
        <div class="faq-icon mr-3 answer-title">
          <i v-b-toggle="`accordion-${answer.id}`" class="bx font-size-20" :class="answer.shown ? 'bx-chevron-up-circle text-success':'bx-chevron-down-circle'" />
        </div>
        <div class="media-body">
          <h5 class="font-size-15 answer-title">
            <span v-b-toggle="`accordion-${answer.id}`">
              {{ answer.question }}
            </span>
            <span>
              <b-button size="sm" variant="link" @click="copyLink(answer.id)">
                <i class="bx bx-copy" />
              </b-button>
            </span>
          </h5>
          <b-collapse
            :id="`accordion-${answer.id}`"
            accordion="my-accordion"
            class="text-muted answer-body"
            @show="answer.shown = true"
            @hide="answer.shown = false"
            v-html="answer.answer_html"
          />
        </div>
      </div>
    </div>
    <div v-else>
      <b-img center src="/images/verification-img.png" style="max-width: 300px;" />
      <h5 class="text-center">Мы еще работаем над заполнением этого раздела</h5>
    </div>
  </div>
</template>

<script>
import handleClipboard from '@/utils/clipboard'

export default {
  props: {
    answers: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    copyLink(id) {
      const link = this.$router.resolve({
        path: `/faq/${id}`
      })
      handleClipboard(window.location.origin + link.href)
    }
  }
}
</script>
