<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 text-center">
          <a
            target="_blank"
            href="/offer_agreement.pdf"
            class="text-primary"
          >Пользовательское соглашение</a>
        </div>
        <div class="col-sm-3 text-center">
          <a
            target="_blank"
            href="/policy.pdf"
            class="text-primary"
          >Политика конфиденциальности</a>
        </div>
        <div class="col-sm-3 text-center">
          <a
            target="_blank"
            href="/contacts"
            class="text-primary"
          >Реквизиты</a>
        </div>
        <div class="col-sm-3 text-center">
          {{ new Date().getFullYear() }} © Multiaccount.
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</template>
