<template>
  <div>
    {{ lat }},{{ lon }}
    <b-badge v-if="data.data" variant="info">{{ data.data.city }}</b-badge>
  </div>
</template>

<script>
export default {
  props: {
    lat: {
      type: Number,
      required: true
    },
    lon: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      data: {}
    }
  },
  mounted() {
    if (this.lat > 0 && this.lon > 0) {
      var url = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/geolocate/address'
      var token = '1d8f9f96ce9c6836bdcb86f5b6def128f55d5252'
      var query = { lat: this.lat, lon: this.lon, count: 1 }

      var options = {
        method: 'POST',
        mode: 'cors',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
          'Authorization': 'Token ' + token
        },
        body: JSON.stringify(query)
      }

      fetch(url, options)
        .then(response => response.text())
        .then(result => {
          const suggestions = JSON.parse(result)
          this.data = suggestions['suggestions'].length ? suggestions['suggestions'][0] : {}
        })
        .catch(error => console.log('error', error))
    }
  },
  methods: {
  }
}
</script>
