<template>
  <b-modal
    id="modal-payment"
    title="Оплатить подписку"
    title-class="font-18"
    hide-footer
    @hidden="modalHidden"
  >
    <div class="card-header">
      Оплата тарифа
      <b-badge variant="primary">{{ paymentData.name }}</b-badge> ({{
        paymentData.duration
      }}
      д.), к оплате
      <b-spinner
        v-if="loading"
        type="grow"
        class="mr-1"
        variant="primary"
        role="status"
      /><b-badge v-else variant="primary">{{ finalPrice }}</b-badge> руб.
    </div>

    <div class="card-body text-center">
      <form
        target="_blank"
        id="app_1_year"
        method="POST"
        action="https://money.yandex.ru/quickpay/confirm.xml"
        class="form"
      >
        <input v-model="paymentData.wallet" type="hidden" name="receiver" />
        <input type="hidden" name="quickpay-form" value="shop" />
        <input v-model="paymentData.description" type="hidden" name="targets" />
        <p>Выберите способ оплаты</p>

        <div
          class="btn-group btn-group-toggle mt-2 mt-xl-0"
          data-toggle="buttons"
        >
          <label class="btn btn-primary active">
            <input
              type="radio"
              name="paymentType"
              value="PC"
              autocomplete="off"
              checked
            />
            Яндекс.Деньгами
          </label>
          <label class="btn btn-primary">
            <input
              type="radio"
              name="paymentType"
              value="AC"
              autocomplete="off"
            />
            Банковской картой
          </label>
        </div>

        <input
          id="sum"
          v-model="finalPrice"
          type="hidden"
          name="sum"
          data-type="number"
        />
        <input
          v-model="paymentData.description"
          type="hidden"
          name="formcomment"
        />
        <input
          v-model="paymentData.description"
          type="hidden"
          name="short-dest"
        />
        <input
          id="label"
          :value="labelValue"
          type="hidden"
          name="label"
          class="label"
        />
        <input
          v-model="paymentData.success_url"
          type="hidden"
          name="successURL"
          class="successURL"
        />
        <input
          type="hidden"
          name="validation"
          class="validation"
          value="false"
        />
        <br />
        <br />
        <br />
        <b-form-input
          v-model="promocode"
          class="form-control-sm col-md-6 m-auto"
          for="text"
          placeholder="Промокод (необязательно)"
        />
        <br />
        <div class="msg">{{ promocodeMessage }}</div>
        <br />
        <b-button type="submit" variant="success">
          <i
            v-if="loading"
            class="bx bx-hourglass bx-spin font-size-16 align-middle mr-2"
          />
          <i v-else class="bx bx-check-double font-size-16 align-middle mr-2" />
          Оплатить
        </b-button>
      </form>
    </div>
  </b-modal>
</template>

<script>
import { getPlan, getDiscount } from '@/api/subscription';
import _ from 'lodash';

export default {
  props: {
    id: {
      type: Number,
      required: true
    },
    show: {
      type: Boolean,
      default: false
    },
    isProxy: {
      type: Boolean,
      default: false
    },
    proxyId: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      loading: false,
      promocode: '',
      promocodeDiscount: 0,
      promocodeMessage: '',
      paymentData: {}
    };
  },
  computed: {
    finalPrice() {
      return this.paymentData.price - this.promocodeDiscount;
    },
    labelValue() {
      let string = `${this.paymentData.user_id},`;

      if (this.isProxy) {
        string += `proxy${this.proxyId}-${this.paymentData.id},`;
      } else {
        string += `${this.paymentData.id},`;
      }

      string += `${this.promocode}`;
      return string;
    }
  },
  watch: {
    promocode: _.debounce(function(promocode) {
      this.loading = true;
      this.checkPromocode(promocode);
    }, 500),
    show(newWal) {
      if (newWal) {
        this.load();
      }
    }
  },
  methods: {
    modalHidden() {
      this.promocode = '';
      this.promocodeDiscount = 0;
      this.promocodeMessage = '';
      this.$emit('update:show', false);
    },
    load() {
      getPlan(this.id).then(response => {
        this.paymentData = response.data;
        this.$bvModal.show('modal-payment');
      });
    },
    checkPromocode(promocode) {
      if (promocode !== '') {
        getDiscount(this.paymentData.price, promocode)
          .then(response => {
            this.promocodeDiscount = response.data.discount;
            this.promocodeMessage = response.data.msg;
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          });
      } else {
        this.promocodeDiscount = 0;
        this.promocodeMessage = '';
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped>
.spinner-grow {
  width: 1rem;
  height: 1rem;
}

.badge {
  font-size: 100%;
}
</style>
