<script>
 //import MetisMenu from 'metismenujs/dist/metismenujs';

import { getProfiles } from '@/api/profiles';
import { mapGetters } from 'vuex';
import ProfileService from '@/services/profile';
import Swal from 'sweetalert2';
import Vue from 'vue';


export default {
  components: {},
  data() {
    return {
      tableData: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 7,
      pageOptions: [10, 25, 50, 100],
      search: '',
      searchPrepend: '<i class="bx bx-search"></i>',
      folderPrepend: '<i class="bx bx-folder"></i>',
      folder: null,
      foldersSelect: [],
      foldersSelected: null,
      folders: [
        { value: null, text: 'Выберите действие'},
        { value: -1111, text: 'Добавить папку'},
        {  value: -7777, text: 'Показать все'},
      ]
    };
  },
  computed: {
    ...mapGetters({
      currentProfile: 'profiles/currentProfile'
    })
  },
  watch: {
    search() {
      this.onFiltered();
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    load(filter_data = '') {
      console.log('gottt')
      getProfiles({
        page: this.currentPage,
        search: this.search,
        full: true
      }).then(response => {

        if (filter_data=='')
        {
             this.tableData = response.data.data;
        }
  
        Vue.prototype.$globalFolders=[];
        this.folders = [];

      this.folders= [
        { value: null, text: 'Выберите действие'},
        { value: -1111, text: 'Добавить папку'},
        {  value: -7777, text: 'Показать все'},
      ]


        response.data.data.forEach((value, index, self) => {

            if (typeof value['data']['folder'] !== 'undefined')
            {
              this.folders.push({
                value: value['data']['folder'],
                text: value['data']['folder'],
              });

              Vue.prototype.$globalFolders.push({
                value: value['data']['folder'],
                text: value['data']['folder'],
              });

        if (filter_data!=='')
        {
            this.tableData.push(value);
        }

          }
    })


 this.folders = this.folders.reduce((unique, o) => {
    if(!unique.some(obj => obj.text === o.text && obj.value === o.value)) {
      unique.push(o);
    }
    return unique;
},[]);



       this.apply(this.currentProfile);



        this.tableData.splice();
        this.totalRows = response.data.pagination.total;
        this.perPage = response.data.pagination.per_page;
      });
    },


searchSubGroup(value){ 
  if (value==null) return;

if (value==-1111)
{
      let cntItems= document.getElementById("folderSelect").length;

      this.folders.push({
        value: 'Папка ('+cntItems+')',
        text: 'Папка ('+cntItems+')',
      });

      this.foldersSelected = 'Папка ('+cntItems+')';

        Vue.prototype.$globalFolders.push({
          value: 'Папка ('+cntItems+')',
          text: 'Папка ('+cntItems+')',
        });
     
}
else if (value==-7777)
{
      this.$nextTick(() => {
        this.tableData = [];
        this.currentPage = 1;
        this.load();
      });
}
else
{
      this.$nextTick(() => {
        this.tableData = [];
        this.currentPage = 1;
        this.load(value);
      });
}

} ,

    apply(profile,profile_id=0) {
          ProfileService.apply(profile);  
          this.$router.push('/profiles/current?ts=1111');

   
    },
    onFiltered() {
      this.$nextTick(() => {
        this.tableData = [];
        this.currentPage = 1;
        this.load();
      });
    },
    onPageChange() {
      this.$nextTick(() => {
        this.load();
      });
    }
  }
};
</script>

<template>
  <!-- ========== Left Sidebar Start ========== -->

  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <div class="profiles-filter">
      <b-input-group
        label-size="sm"
        class="folder-box"
        :prepend-html="folderPrepend"
      >
        <b-form-select
        id="folderSelect"
          size="sm"
          v-model="foldersSelected"
          :options="folders"
          @change="searchSubGroup"
        ></b-form-select>
      </b-input-group>

      <b-input-group
        label-size="sm"
        class="search-box"
        :prepend-html="searchPrepend"
      >
        <b-form-input
          size="sm"
          v-model="search"
          placeholder="Поиск"
        ></b-form-input>
      </b-input-group>
    </div>
    <!-- Left Menu Start -->
    <ul id="side-menu" class="metismenu list-unstyled" style="width: 185px; margin-left: 13px;">

      <li v-for="profile in tableData"    :key="profile.id" @click="apply(profile,profile.id)"   >
        
        <router-link to="/profiles/current?profile_id=profile.id" v-if="profile.id==currentProfile.id" style="background: #202534; color: #556EE6;" :id="profile.id" class="side-nav-link-ref focus router-link-active " >
          <i :class="`bx bxs-user-circle`" style=" color: #556EE6;" />
          <span>{{ profile.name }}</span>
          
        </router-link>

        <router-link to="/profiles/current?profile_id=profile.id" v-else-if="profile.id!=currentProfile.id" style="" :id="profile.id" class="side-nav-link-ref focus router-link-active " >
          <i :class="`bx bxs-user-circle`" />
          <span>{{ profile.name }}</span>
          
        </router-link>

      </li>
    </ul>

    <b-pagination
      align="center"
      size="sm"
      hide-goto-end-buttons
      v-model="currentPage"
      :total-rows="totalRows"
      :per-page="perPage"
      limit="3"
      @change="onPageChange"
    >
      <template slot="prev-text">
        <i class="bx bx-left-arrow-alt"></i>
      </template>
      <template slot="next-text">
        <i class="bx bx-right-arrow-alt"></i>
      </template>
    </b-pagination>
  </div>
  <!-- Sidebar -->
</template>
