<script>
import SideNav from './side-nav';

export default {
  components: { SideNav },
  props: {},
  data() {
    return {};
  },

  methods: {}
};
</script>

<template>
  <!-- ========== Left Sidebar Start ========== -->
  <div class="vertical-menu">
    <div class="h-100">
      <SideNav />
    </div>
  </div>
  <!-- Left Sidebar End -->
</template>
