<script>
import NavBar from '../components/nav-bar';
import SideBar from '../components/side-bar';
// import Footer from '../components/footer';
import { enableCSRF } from '@/api/user';

export default {
  components: { NavBar, SideBar },
  mounted: () => {
    enableCSRF()
      .then(() => {})
      .catch(() => {});
  },
  methods: {}
};
</script>

<template>
  <div id="layout-wrapper">
    <NavBar />
    <SideBar :is-condensed="true" />
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="main-content">
      <div class="page-content">
        <!-- Start Content-->
        <div class="container-fluid">
          <router-view />
        </div>
      </div>
      <!--      <Footer />-->
    </div>
  </div>
</template>
