<script>
import PageHeader from '@/components/page-header';
import { getProxies, proxyIPSwitch, getTrial } from '@/api/proxies';
import Swal from 'sweetalert2';
import paymentModal from '@/components/paymentModal';
import { getProxyPlans } from '@/api/subscription';
import { mapGetters } from 'vuex';

export default {
  components: {
    PageHeader,
    paymentModal
  },
  data() {
    return {
      selectedPlan: 0,
      selectedProxy: 0,
      showModal: false,
      loading: false,
      tableData: [],
      title: 'Прокси',
      items: [
        {
          text: 'Прокси',
          active: true
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 20,
      filters: {
        status: 'active'
      },
      counters: {},
      fields: [],
      statusText: {
        wait: 'Перезагрузка',
        connected: 'Подключено',
        error: 'Не подключено',
        expired: 'Не оплачено'
      },
      statusStyle: {
        wait: 'info',
        connected: 'success',
        error: 'warning',
        expired: 'warning'
      },
      refresh: null,
      pricingData: []
    };
  },
  computed: {
    ...mapGetters(['proxy_trial_available'])
  },
  watch: {
    'filters.status': function() {
      this.onFiltered();
    }
  },
  mounted() {
    this.load();

    this.refresh = setInterval(() => {
      this.load(true);
    }, 3000);

    getProxyPlans().then(response => {
      this.pricingData = response.data;
    });
  },
  beforeDestroy() {
    if (this.refresh) {
      clearInterval(this.refresh);
    }
  },
  methods: {
    getProxyTrialModal() {
      this.$bvModal.show('modal-free-proxy');
      if (window.carrotquest) {
        window.carrotquest.track('proxy.trial.modal');
      }
    },
    getProxyTrial() {
      this.$bvModal.hide('modal-free-proxy');

      getTrial()
        .then(resp => {
          Swal.fire('Успешно', resp.data.message, 'success');

          if (window.carrotquest) {
            window.carrotquest.track('proxy.trial.activate');
          }
        })
        .catch(e => {
          if (e.response) {
            Swal.fire('Ошибка', e.response.data.message, 'error');
            if (window.carrotquest) {
              window.carrotquest.track('proxy.trial.activate.error', {
                param1: e.response.data.message
              });
            }
          } else {
            Swal.fire('Ошибка', e, 'error');

            if (window.carrotquest) {
              window.carrotquest.track('proxy.trial.activate.error', {
                param1: e
              });
            }
          }
        });
    },
    changeIP(id) {
      proxyIPSwitch(id)
        .then(resp => {
          Swal.fire('Успешно', resp.data.message, 'success');
        })
        .catch(e => {
          if (e.response) {
            Swal.fire('Ошибка', e.response.data.message, 'error');
          } else {
            Swal.fire('Ошибка', e, 'error');
          }
        });
    },
    extend(id, planId) {
      this.selectedPlan = planId;
      this.selectedProxy = id;
      this.showModal = true;
    },
    load(refresh) {
      if (!refresh) {
        this.loading = true;
      }
      getProxies({
        page: this.currentPage,
        status: this.filters.status
      })
        .then(response => {
          this.fields = [
            // { key: 'id', sortable: false, label: 'ID' },
            { key: 'connection_string', sortable: false, label: 'Прокси' },
            { key: 'expire_at', sortable: false, label: 'Оплачено до' },
            { key: 'status', sortable: false, label: 'Статус' }
          ];

          if (this.filters.status === 'active') {
            this.fields.push({ key: 'ip', sortable: false, label: 'IP' });
          }

          this.fields.push({ key: 'actions', sortable: false, label: '' });

          this.tableData = response.data.data;
          this.tableData.splice();
          this.totalRows = response.data.pagination.total;
          this.perPage = response.data.pagination.per_page;
          this.counters = response.data.counters;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    onFiltered() {
      this.$nextTick(() => {
        this.tableData = [];
        this.currentPage = 1;
        this.load();
      });
    },
    onPageChange() {
      this.$nextTick(() => {
        this.load();
      });
    }
  }
};
</script>

<template>
  <div>
    <PageHeader :title="title" :items="items" />

    <payment-modal
      :id="selectedPlan"
      :is-proxy="true"
      :proxy-id="selectedProxy"
      :show.sync="showModal"
    />

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <label class="d-inline-flex">
                  <b-button
                    :variant="
                      filters.status === 'active'
                        ? 'success'
                        : 'outline-success'
                    "
                    class="mr-2"
                    @click.prevent="filters.status = 'active'"
                  >
                    <i
                      class="bx bxs-check-circle font-size-14 align-middle mr-1"
                    />
                    Активные
                    <b-badge
                      :variant="
                        filters.status === 'active' ? 'secondary' : 'success'
                      "
                      class="ml-1"
                      >{{ counters.active }}</b-badge
                    >
                  </b-button>
                </label>
                <label class="d-inline-flex">
                  <b-button
                    :variant="
                      filters.status === 'archive'
                        ? 'warning'
                        : 'outline-warning'
                    "
                    @click.prevent="filters.status = 'archive'"
                  >
                    <i class="bx bxs-archive font-size-14 align-middle mr-1" />
                    Архивные
                    <b-badge
                      :variant="
                        filters.status === 'archive' ? 'secondary' : 'warning'
                      "
                      class="ml-1"
                      >{{ counters.archive }}</b-badge
                    >
                  </b-button>
                </label>
              </div>
              <!-- End search -->
              <div class="col-sm-12 col-md-6">
                <div class="float-right">
                  <b-btn
                    v-if="proxy_trial_available"
                    variant="success"
                    @click="getProxyTrialModal"
                    >Бесплатный тест</b-btn
                  >

                  <b-modal
                    id="modal-free-proxy"
                    title="Тестовый прокси аккаунт"
                    title-class="font-18"
                    hide-footer
                  >
                    <p>
                      Тестовый доступ предоставляется только один раз на 2 часа.
                    </p>
                    <p>
                      Перед началом тестового периода советуем изучить работу
                      расширения.
                    </p>
                    <b-btn variant="success" @click="getProxyTrial"
                      >Да, получить</b-btn
                    >
                    <b-btn
                      variant="info"
                      @click="$bvModal.hide('modal-free-proxy')"
                      >Нет, не хочу</b-btn
                    >
                  </b-modal>

                  <router-link to="/proxies/select" class="btn btn-primary"
                    >Купить прокси</router-link
                  >
                </div>
              </div>
            </div>
            <b-overlay
              :show="loading"
              rounded="sm"
              variant="white"
              opacity="0.5"
              blur="5px"
            >
              <!-- Table -->
              <div class="mb-0">
                <b-table
                  :items="tableData"
                  :fields="fields"
                  responsive="md"
                  :per-page="0"
                >
                  <template v-slot:cell(status)="data">
                    <b-badge
                      class="font-size-11"
                      :variant="statusStyle[data.item.status]"
                    >
                      {{ statusText[data.item.status] }}
                    </b-badge>
                  </template>

                  <template v-slot:cell(ip)="data">
                    <b-button
                      v-b-tooltip.hover
                      variant="outline-info"
                      size="sm"
                      title="Получить новый IP"
                      class="mr-2"
                      @click.prevent="changeIP(data.item.id)"
                    >
                      <i class="bx bx-refresh font-size-14 align-middle" />
                    </b-button>
                    {{ data.item.ip }}
                  </template>
                  <template v-slot:cell(actions)="data">
                    <b-dropdown variant="outline-info" size="sm" dropleft>
                      <template slot="button-content">
                        <i
                          class="bx bxs-credit-card font-size-14 align-middle mr-1"
                        />
                        Продлить
                        <i class="mdi mdi-chevron-down" />
                      </template>
                      <b-dropdown-item
                        v-for="plan in pricingData"
                        :key="plan.id"
                        @click.prevent="extend(data.item.id, plan.id)"
                        >На {{ plan.duration }}</b-dropdown-item
                      >
                    </b-dropdown>
                  </template>
                </b-table>
              </div>
              <div class="row">
                <div class="col">
                  <div
                    class="dataTables_paginate paging_simple_numbers float-right"
                  >
                    <ul class="pagination pagination-rounded mb-0">
                      <!-- pagination -->
                      <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        @change="onPageChange"
                      />
                    </ul>
                  </div>
                </div>
              </div>
            </b-overlay>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
