<template>
  <div>
    <PageHeader :title="title" :items="items" />
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h4>Выберите тарифный план</h4>
          <!--                    <p-->
          <!--                            class="text-muted"-->
          <!--                    ></p>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div v-for="data in pricingData" :key="data.price" class="col-xl-3 col-md-6">
        <div class="card plan-box">
          <div class="card-body p-4">
            <div class="media">
              <div class="media-body">
                <h5>{{ data.name }}</h5>
                <p class="text-muted">{{ data.text }}</p>
              </div>
              <div class="ml-3">
                <i :class="`bx ${icons[data.id]} h1 text-primary`" />
              </div>
            </div>
            <div class="py-4">
              <h2>
                <sup>
                  <small>₽</small>
                </sup>
                {{ data.price }}/
                <span class="font-size-13">{{ data.duration }}</span>
              </h2>
            </div>
            <div class="text-center plan-btn">
              <a
                href="#"
                class="btn btn-primary btn-sm position-relative"
                @click.prevent="showPaymentModal(data.id)"
              >Выбрать</a>
            </div>

            <div class="plan-features mt-5">
              <p>
                <i class="bx text-primary mr-2 bx-transfer" />
                <span>Без ограничения трафика</span>
              </p>
              <p>
                <i class="bx text-primary mr-2 bx-memory-card" />
                <span>МТС, Мегафон, Yota, Tele2, Beeline</span>
              </p>
              <p>
                <i class="bx text-primary mr-2 bx-refresh" />
                <span>Смена IP за несколько секунд</span>
              </p>
              <p>
                <i class="bx text-primary mr-2 bx-network-chart" />
                <span>>19000 IP в пуле</span>
              </p>
              <!--              <p>-->
              <!--                <i class="bx text-primary mr-2 bx-globe-alt" />-->
              <!--                <span>Гео: Москва/Санкт-Петербург</span>-->
              <!--              </p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <payment-modal :id="selectedPlan" :is-proxy="true" :show.sync="showModal" />
  </div>
</template>

<script>
import PageHeader from '../../components/page-header'
import { getProxyPlans } from '@/api/subscription'
import paymentModal from '@/components/paymentModal'

export default {
  components: { PageHeader, paymentModal },
  data() {
    return {
      selectedPlan: 0,
      showModal: false,
      icons: {
        1: 'bx-walk',
        2: 'bx-run',
        3: 'bx-cycling',
        4: 'bx-car',
        5: 'bxs-plane-alt'
      },
      pricingData: [],
      title: 'Выбор тарифа',
      items: [
        {
          text: 'Подписка',
          href: '/subscription'
        },
        {
          text: 'Выбор тарифа',
          active: true
        }
      ]
    }
  },
  mounted() {
    getProxyPlans().then((response) => {
      this.pricingData = response.data
    })
  },
  methods: {
    showPaymentModal(id) {
      this.selectedPlan = id
      this.showModal = true
    }
  }
}
</script>

<style scoped>
    .media {
        min-height: 85px;
    }
</style>
