//
// Forms.scss
//


// checkbox input right

.form-check-right {
  padding-left: 0;
  display: inline-block;
  padding-right: 1.25rem;

  .form-check-input {
    right: 0;
    margin-left: 0;
  }

  .form-check-label {
    display: block;
  }
}


.custom-control-right {
  padding-left: 0;
  padding-right: 1.5rem;
  display: inline-block;

  .custom-control-label {
    display: inline-block;

    &:before, &:after {
      left: auto;
      right: -1.5rem;
    }
  }

  .custom-control-input {
    left: auto;
  }
}

.profiles-filter {
  padding: 0 15px;
  .search-box {
    margin-top: 15px;

    .input-group-prepend {
      height: 27px;
    }

    .input-group-text {
      padding: .47rem 0 .47rem 8px;
      background-color: rgba(227, 228, 232, 0.17);
      border: none;
      color: rgb(116, 120, 141);
    }

    .form-control {
      background-color: rgba(227, 228, 232, 0.17);
      border: none;
      color: rgb(116, 120, 141);
      border-left: 1px solid transparent;
    }

    .form-control:focus {
      background-color: rgba(227, 228, 232, 0.17);
      color: rgb(116, 120, 141);
    }
  }

  .folder-box {

    .input-group-prepend {
      height: 27px;
    }

    .input-group-text {
      border-right: none;
      padding: .47rem 0 .47rem 8px;
      background-color: #fff;
    }

    .custom-select {
      border-left: none;
    }

    .custom-select:focus {
      border-color: transparent;
      outline: 0;
      box-shadow: none;
    }
  }


}
