//
// _pagination.scss
//

// Pagination rounded (Custom)

.page-link {
    border-radius: 4px !important;
    margin: 0 3px;
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    line-height: 25px;
    background-color: transparent;
    border: none;
    color: #fff;
}

.page-item.disabled .page-link {
    background: transparent;
    color: #556ee6;
}

.page-link:hover {
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    background-color: lighten(#556ee6, 10%);
}

.page-link:active,
.page-link:focus
{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
}


